h1 {
    font-size: 100%;
    line-height: 1.1;
}

/* Container for all functionalities */
.functionality-container {
    background-color: white;
    padding: 3%;
    margin: 2%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    box-shadow: 0px 5px 5px rgba(160, 160, 160, 0.331);
    gap: 15px; /* Adds space between elements */
}

/* Container for image and button */
.image-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Space between image and upload button */
    width: 100%;
}

/* Image container styling */
.image-container {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 2px dashed #39bf66;
    margin-bottom: 10px; /* Adds space below the image */
}

/* Placeholder for when no image is selected */
.placeholder {
    color: rgb(84, 84, 84);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Food image styling */
.food-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Hide the default file input */
input[type="file"] {
    display: none;
}

/* Custom file upload button */
.custom-file-upload {
    display: inline-block;
    padding: 10px 15px;
    background-color: #DA325D; /* Primary button color */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 90%;
    text-align: center;
    transition: background 0.3s ease;
    width: 80%; /* Adjust width */
}

.custom-file-upload:hover {
    background-color: #5dd284; /* Lighter green on hover */
}

/* Analysis container */
.analysis-container {
    background-color: #da325ca1;
    border-radius: 5px;
    font-size: 90%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

/* Responsive Design */
@media (min-width: 758px) {
    .functionality-container {
        flex-direction: row; /* Align items side by side */
        justify-content: space-between;
    }

    .image-button-container {
        flex-direction: column;
        align-items: center;
        width: 45%; /* Adjust width */
    }

    .analysis-container {
        width: 50%;
        text-align: left;
        padding-left: 1rem;
    }

    .analysis-container p {
        word-wrap: break-word;
    }
}
